* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 1250px;
    background: #f6f6f6;
}

/***NAVBAR***/

.navbar {
    width: 100%;
    height: 50px;
    background: #353839;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.logo {
    width: 30%;
    overflow: hidden;
}

.navbar .logo img {
    width: 60px;
    transform: translate(15px, -7px);
}

.navbar .logo a {
    text-decoration: none;
}

.navbar .logo h1 {
    transform: translate(78px, -46px);
    color: #ffd43b;
    text-transform: capitalize;
    font-family: arial;
    font-size: 20px;
    font-weight: 900;
}

.links {
    width: 70%;
    height: 50px;
    float: right;
    transform: translate(0, -175%);
    margin-right: 15px;
}

.links a {
    float: right;
    text-decoration: none;
    display: inline;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    padding: 10px;
    position: relative;
    top: 0px;
    transition: 0.3s;
}

.links a:hover {
    text-decoration: underline;
    color: tomato;
}

.links a i {
    padding: 5px;
    font-size: 20px;
    color: #ffd43b;
    transition: 0.3s;
}

.links a i:hover {
    transform: scale(1.2);
    color: tomato;
}

.links img {
    width: 40px;
    position: relative;
    top: 1px;
    left: -5px;
    border-radius: 350px;
    transition: 0.3s;
}

.links img:hover {
    transform: scale(1.1);
}

/***NAVBAR END***/



/***FOOTER**/

.footer {
    width: 100%;
    height: 380px;
    background: #353839;
    transform: translate(0, 10px);
    overflow: hidden;
    margin-top: -10px;
}

.footer-top {
    width: 100%;
    height: 20px;
    background: #616863;
    text-align: center;
}

.footer-top a {
    text-align: center;
    color: white;
    font-family: arial;
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
}

.footer .contact {
    transform: translate(0, 20px);
    padding: 0 0 0 50px;
}

.footer .contact a {
    color: #ffd43b;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-family: arial;
    font-weight: 600;
}

.footer .contact .us {
    color: #ffd43b;
    font-size: 20px;
    font-weight: 600;
    font-family: arial;
    text-transform: capitalize;

}

.footer .contact .num {
    color: #fff;
    margin-top: 15px;
}

.footer .contact .mail {
    font-weight: 800;
    font-size: 15px;
}

.footer .contact i {
    font-size: 22px;
    transform: translate(0, -9px);
}

.footer .contact h2 {
    color: white;
    font-size: 14px;
    font-family: Arial;
    transform: translate(-40px, 110px);
}

.footer .follow {
    width: 250px;
    transform: translate(15px, -160px);
}

.footer .follow h1 {
    transform: translate(0, -30px);
    color: #ffd43b;
    font-size: 20px;
    font-family: arial;
    font-weight: 600;
    text-transform: capitalize;
}

.footer i {
    font-size: 30px;
    padding: 5px;
    float: left;
    margin-left: 20px;
}

.footer .instagram {
    color: rgb(241, 40, 40);
}

.footer .facebook {
    color: #4570E6;
}

.footer .twitter {
    color: #7ED4E6;
}

.footer .yt {
    color: red;
}

.footer .foot-logo img {
    width: 60px;
    transform: translate(-50px, 175px);
}

.footer .foot-logo h1 {
    color: #ffd43b;
    text-transform: capitalize;
    font-family: arial;
    font-size: 20px;
    font-weight: 900;
    transform: translate(50px, 136px);
}

.footer .body-type {
    float: right;
    width: 200px;
    transform: translate(-10px, -345px);

}

.footer .body-type h1 {
    color: #ffd43b;
    font-family: Arial;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 10px;

}

.footer .body-type h1[class] {
    color: #ffd43b;
    font-family: Arial;
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 15px;

}

.footer .body-type a {
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-family: arial;
    display: block;
}

.footer .body-type input {
    width: 200px;
    height: 100px;
    margin-top: 0px;
}


.footer .body-type input[type="submit"] {
    width: 70px;
    height: 20px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    background: #ffd43b;
    color: black;
    position: relative;
    top: 10px;
    transition: 00.3s;
}

.footer .body-type input[type="submit"]:hover {
    transform: scale(1.2);
    background-color: orangered;
}


/***FOOTER-NAVBAR END***/



/***1 HOME PAGE***/

.content {
    width: 100%;
    margin-top: 50px;
}

.content .head {
    width: 100%;
    height: 350px;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    text-align: center;
    overflow: hidden;
}

.content .search {
    transform: translate(-50px, -350px);
    text-align: center;
}

.content .background {
    width: 2000px;
    transform: translate(-9%, 0);
}

.content .background img {
    width: 650px;
    float: left;
    transform: translate(-15%, 00px);
}

.content .background img[id] {
    transform: translate(5%, 0);
    z-index: 2;
}

.content .background img[class] {
    transform: translate(-30%, 0);
    z-index: -1;
}

.content .head input {
    width: 400px;
    height: 40px;
    font-weight: 600;
    border-radius: 50px;
    transform: translate(50px, 70px);
    padding: 10px;
    border: none;
}

.content .head i {
    font-size: 25px;
    font-weight: 900;
    transform: translate(10px, 75px);
    color: gray;
}

.content .head h1 {
    color: orange;
    transform: translate(2.4%, 90px);
    font-family: arial black;
    text-transform: uppercase;
}

.content .head h1 span {
    color: orangered;
}

.content .head h2 {
    color: yellow;
    transform: translate(2.5%, 90px);
    font-family: arial black;
    text-transform: uppercase;
    animation-name: fit;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes fit {
    0% {}

    50% {
        color: #e599f7;
    }

    100% {
        color: #63e6be;
    }

}

.content .search h3 {
    font-size: 25px;
    color: white;
    font-family: arial;
    text-transform: capitalize;
    font-weight: 600;
    transform: translate(2%, 110px);


}

.content .search button {
    width: 150px;
    height: 50px;
    margin: 7px;
    position: relative;
    top: 110px;
    left: 2%;
    border: none;
    border-radius: 50px;
    background: rgb(255, 236, 26);
    font-size: 20px;
    font-weight: 700;
    color: rgb(34, 32, 32);
    transition: 0.3s;

}

.content .search button:hover {
    background: orange;
    transform: scale(1.2);
}

.content #exe {
    width: 100%;
    height: auto;
}

.content #exe h1 {
    font-size: 30px;
    width: 100%;
    background: rgb(70, 55, 27);
    text-transform: uppercase;
    font-family: arial black;
    color: rgb(244, 244, 244);
    padding: 0 0 0 30px;
    margin: 40px 0 10px 0;
    text-align: center;

}

.content #exe button {
    width: 30%;
    height: 240px;
    background: transparent;
    border: none;
    margin: 7px;
}

.content .exe {
    float: left;
    width: 30%;
    height: 240px;
    padding: 15px;
    margin: 1px 10% 2px 10%;
    background: transparent;
    transition: 0.3s;
    position: relative;
    top: -60px;
}

.content .exe:hover {
    transform: scale(1.05);
}

.content .exe img {
    width: 390%;
    border-radius: 30px;
    transition: 0.3s;
}

.content .exe img:hover {

    box-shadow: 10px 10px 50px gray, 10px 5px 50px black;
}


.content .exe h2 {
    transform: translate(40%, 150%);
    color: yellow;
    text-transform: uppercase;
    font-family: arial;
    font-weight: 700;
    font-size: 20px;

}

.content #body {
    width: 100%;
    height: 100%;
    background: rgb(70, 55, 27);
    overflow: hidden;
    padding: 10px;
}

.content #body .body {
    transition: 0.3s;
    padding: 10px;
    position: relative;
    top: 50px;
    margin: -30px -60px;
}

.content #body .body:hover {
    transform: scale(1.05);
}

.content #body h1 {
    color: black;
    font-family: arial black;
    ;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(238, 238, 238);
}

.content #body img {
    width: 500px;
    border-radius: 30px;
    transform: translate(110px, 0);
}

.content #body h2 {
    width: 32%;
    transform: translate(640px, -270px);
    color: rgb(249, 249, 249);
    text-transform: uppercase;
    font-family: arial black;
}

.content #body .p {
    width: 400px;
    float: right;
    transform: translate(-100px, -300px);
    color: rgb(238, 238, 238);
    font-family: arial;
}

.content #body a {
    margin: 10px;
    text-decoration: none;
}

/***1 HOME PAGE END ***/



/***2 TYPE PAGE***/

#type {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 60px;
}


#type .top {
    width: auto;
    height: 180px;
    background: #1a1a1b;
    padding: 80px;
    letter-spacing: 3px;
}

#type .top h1 {
    font-size: 30px;
    font-family: Arial Narrow;
    color: white;
    text-transform: uppercase;
    margin: 0 0 0 30px;
}


#type .top h3 {
    font-size: 20px;
    font-family: arial narrow;
    color: #a0a0a0;
    text-transform: uppercase;
    margin: 5px 0 0 32px;
}

#type .top input {
    float: right;
    width: 300px;
    height: 40px;
    color: #353839;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 20px;
    position: relative;
    top: -10px;
    left: -50px;
}

#type .top i {
    float: right;
    font-size: 20px;
    color: gray;
    position: relative;
    left: 240px;

}


#type .body {
    transition: 0.3s;
    padding: 10px;
    position: relative;
    top: 50px;
    margin: -25px -50px;
}

#type .body:hover {
    box-shadow: 10px 10px 100px gray, 10px 10px 100px black;
    width: 99%;
    margin: 0 0 0 0.5%;
    background-color: #ffd43b;
    border-radius: 80px;
    font-size: 15px;
    transform: scale(1);
}

#type img {
    width: 500px;
    border-radius: 30px;
    transform: translate(50px, 0);
    margin-top: 10px;
}

#type h2 {
    width: 32%;
    transform: translate(640px, -270px);
    color: #363949;
    text-transform: uppercase;
    font-family: arial black;
    ;
}

#type .p {
    width: 400px;
    float: right;
    transform: translate(-100px, -300px);
    color: black;
    font-family: arial;
}

#type a {
    margin: 10px;
    text-decoration: none;
}

/***2 TYPE PAGE END***/

/***3 LOCATION PAGE***/

#location {
    width: 100%;
    margin-top: 60px;

}


#location .top {
    width: auto;
    height: 180px;
    background: #1a1a1b;
    padding: 80px;
    letter-spacing: 3px;
}

#location .top h1 {
    font-size: 30px;
    font-family: Arial Narrow;
    color: white;
    text-transform: uppercase;
    margin: 0 0 0 30px;
}


#location .top h3 {
    font-size: 20px;
    font-family: arial narrow;
    color: #a0a0a0;
    text-transform: uppercase;
    margin: 5px 0 0 32px;
}

#location .top input {
    float: right;
    width: 300px;
    height: 40px;
    color: #353839;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 20px;
    position: relative;
    top: -10px;
    left: -50px;
}

#location .top i {
    float: right;
    font-size: 20px;
    color: gray;
    position: relative;
    left: 240px;

}

#location p {
    padding: 50px 160px 50px 160px;
    text-transform: capitalize;
    font-size: 18px;
    color: #252525;
}

#location .map {
    width: 100%;
    height: auto;
    margin-top: 1.6%;
    text-align: center;
}

#location .map iframe {
    width: 80%;
    border-radius: 10px;
}

#location .map .p {
    width: 80%;
    height: 200px;
    position: relative;
    top: 20px;
    margin: 0 10% 0 10%;
    margin-bottom: 200px;
    text-align: center;

}

#location .map .p h2 {
    width: 350px;
    height: 30px;
    position: relative;
    left: 35%;
    color: white;
    font-family: arial;
    background-color: #1a1a1b;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 20px;
    padding: 4px;
}


#location .map .p input {
    width: 300px;
    height: 30px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
    position: relative;
    left: 0%;
    top: 30px;
}

#location .map .p i {
    position: relative;
    left: -35px;
    top: 34px;
    font-size: 20px;
    color: gray;
}


#location .map .p h3 {
    position: relative;
    left: -250px;
    top: 50px;
    left: 7%;
    padding: 0 550px 0 350px;
}

#location .map .p button {
    width: 150px;
    height: 30px;
    background-color: tomato;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-family: arial narrow;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    top: 90px;
    transition: 0.3s;
}

#location .map .p button:hover {
    background-color: orangered;
}

#location .map .p i[class="fa-solid fa-phone"] {
    position: relative;
    left: 0px;
    top: 0;
    color: #1a1a1b;
}

#location .map .p p {
    margin-top: 70px;
}



/***3 LOCATION PAGE END***/

/***4 ABOUT US TOP***/

#about {
    width: 100%;
    margin-top: 50px;
}

#about .about {
    width: 100%;
    height: 350px;
    background-color: #c8c8c8;
    text-align: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

#about .about h1 {
    position: relative;
    top: 80px;
    font-family: arial narrow;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 600;
    color: #242424;
}

#about .about h2 {
    position: relative;
    top: 150px;
    font-family: arial narrow;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: 100;
    color: #242424;
}

#about .follow {
    position: relative;
    top: 200px;
}

#about .follow i {
    font-size: 20px;
    color: #232323;
    padding: 5px;
    text-align: center;
    margin: 15px;
}

#about a {
    text-decoration: none;
}





#about .box {
    width: 30%;
    height: 100%;
    float: left;
    padding: 20px;
    margin: 50px 1.6% 50px 1.6%;
    background: #ebebeb;
    border-radius: 20px;
    box-shadow: 1px 1px 20px gray, 1px 1px 20px black;
}

#about .box img {
    width: 100%;
    border: 3px solid black;
    margin: 50px 0 20px 0;
    box-shadow: 15px 10px 50px #c6edf5;
}

#about .box h3 {
    font-family: arial narrow;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 800;
    color: #242424;
    margin: 15px 0;

}

#about .box p {
    font-family: arial;
    font-size: 18px;
    font-weight: 200;
    color: #242424;
    padding: 0 15px 0 0;

}

#about h1 {
    width: 100%;
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    font-family: arial;
    color: #242424;
    font-weight: 200;
}

#about .exe {
    width: 30%;
    height: 100%;
    float: left;
    padding: 20px;
    margin: 50px 1.6% 50px 1.6%;
}

#about .exe ul {
    font-size: 20px;
    font-family: arial;
    text-transform: capitalize;
    color: #242424;
    line-height: 25px;
}

#about .exe li {
    list-style: none;
    font-size: 17px;
}

#about .exe a {
    text-decoration: none;
    color: #242424;
}

#about .women {
    width: 50%;
    height: 100%;
    position: relative;
    left: 4%;
    margin: 50px 0;
}

#about .women h1 {
    font-size: 20px;
    text-align: left;
    font-family: arial;
    text-transform: capitalize;
    color: #242424;
    line-height: 30px;
    margin-bottom: 10px;
}

#about .women a {
    text-decoration: none;
    color: #242424;
    font-size: 20px;
    display: block;
}


#about .type {
    width: 50%;
    height: 100%;
    position: relative;
    left: 4%;
    margin-bottom: 50px;
}

#about .type ul {
    font-size: 20px;
    font-family: arial;
    text-transform: capitalize;
    color: #242424;
    line-height: 25px;
}

#about .type li {
    list-style: none;
    font-size: 17px;
}

#about .type a {
    text-decoration: none;
    color: #242424;
}


/***4 ABOUT US TOP***/


/***5 LOGIN PAGE***/

#login {
    width: 500px;
    height: 500px;
    margin-top: 100px;
    background-color: rgb(89, 89, 89);
}

#login .logo {
    width: 100%;

}

#login .logo i {
    font-size: 30px;
    position: relative;
    left: 380px;
    top: -30px;
    margin: 10px;
    color: white;

}

#login .logo img {
    width: 60px;
    position: relative;
    left: -100px;
}

#login .logo h1 {
    position: relative;
    left: 25px;
    top: -50px;
    text-transform: capitalize;
    font-size: 20px;
    font-family: arial black;
    color: #ffd43b;
}

#login h1 {
    color: white;
    font-family: arial;
    font-size: 25px;
}

#login input {
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

#login a {
    position: relative;
    left: -120px;
    color: rgb(227, 227, 227);
}

#login button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    position: relative;
    top: 20px;
    background-color: #ffd43b;
    font-size: 18px;
}

#login .google {
    width: 350px;
    height: 35px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    position: relative;
    top: 30px;
}

#login .google i {
    margin-right: 10px;
    color: rgb(255, 48, 48);

}

#login .facebook {
    width: 350px;
    height: 35px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(239, 239, 239);
    border-radius: 10px;
    position: relative;
    top: 40px;
}

#login .facebook i {
    margin-right: 10px;
    color: rgb(48, 82, 255);

}


/***5 LOGIN PAGE END***/



/***6 FULL BODY / 7 LOWER BODY / 8 SHOULDER & BACK / 9 LEAN / 10 BULK / 11 HEAVY
/ 12 ABS / 13 CHEST / 14 ARM ***/


#back {
    width: 100%;
    height: auto;
    margin-top: 55px;
    overflow: hidden;
}


#back .top {
    width: auto;
    height: 180px;
    background: #1a1a1b;
    padding: 80px;
    letter-spacing: 3px;
}

#back .top h1 {
    font-size: 30px;
    font-family: Arial Narrow;
    color: white;
    text-transform: uppercase;
    margin: 0 0 0 30px;
}


#back .top h3 {
    font-size: 20px;
    font-family: arial narrow;
    color: #a0a0a0;
    text-transform: uppercase;
    margin: 0 0 0 32px;
}

#back .top input {
    float: right;
    width: 300px;
    height: 40px;
    color: #353839;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 20px;
    position: relative;
    top: -10px;
    left: -50px;
}

#back .top i {
    float: right;
    font-size: 20px;
    color: gray;
    position: relative;
    left: 240px;
}

/*** NEXT & PREV BUTTON***/
.prev {
    background: transparent;
    width: 16%;
    height: 15%;
    position: fixed;
    top: 35%;
    left: 0%;
    z-index: 2;

}

.prev button {
    text-align: right;
    background: gray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 17px;
    font-family: arial black;
    text-transform: uppercase;
    border: none;
    opacity: 0.4;
    position: relative;
    left: -93%;

    transition: 0.3s;
}

.prev button:hover {
    position: relative;
    left: -2%;
    transform: scale(1);
    background-color: #353839;
    color: white;
    opacity: 0.85;
}

.prev button i {
    transform: rotate(180deg);
    float: right;
    color: white;
    font-size: 20px;
    margin: 0 3px 0 10px;
    position: relative;
    top: 2.5px;
}

/***NEXT BUTTON***/

.next {
    background: transparent;
    width: 16%;
    height: 15%;
    position: fixed;
    top: 35%;
    left: 84%;
    z-index: 2;

}

.next button {
    text-align: left;
    background: gray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 17px;
    font-family: arial black;
    text-transform: uppercase;
    border: none;
    opacity: 0.4;
    position: relative;
    right: -93%;

    transition: 0.3s;
}

.next button:hover {
    position: relative;
    right: -2%;
    transform: scale(1);
    background-color: #353839;
    color: white;
    opacity: 0.85;
}

.next button i {
    float: left;
    color: white;
    font-size: 20px;
    margin: 0 10px 0 3px;
    position: relative;
    top: 2.5px;
}

/*** NEXT & PREV BUTTON END***/



#back .bt {
    width: 98%;
    text-align: center;

}

#back .bt button {
    width: 250px;
    height: 50px;
    margin: 15px 0 15px 1%;
    background-color: #ffd43b;
    color: #252525;
    font-size: 25px;
    text-transform: uppercase;
    font-family: arial narrow;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    position: relative;
    left: 1%;
    transition: 0.3s;
}

#back .bt button:hover {
    transform: scale(1.02);
    background: orangered;
}

#back .click {
    width: 100%;
    text-align: center;
}

#back .click button {
    width: 300px;
    height: 50px;
    margin: 15px 2% 15px 2%;
    background-color: #ffd43b;
    color: #252525;
    font-size: 25px;
    text-transform: uppercase;
    font-family: arial narrow;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    transition: 0.3s;
}

#back .click button:hover {
    transform: scale(1.02);
    background: orangered;
}



#back button[id] {
    background: tomato;
}

#back button[id]:hover {
    transform: scale(1);
    color: black;
}


#back .body {
    width: auto;
    height: 400px;
    display: block;
    background-color: white;
    margin-top: 10px;
    padding: 20px;
    overflow: hidden;
}

#back .body h2 {
    width: 120px;
    height: 40px;
    background-color: white;
    font-family: arial black;
    font-size: 25px;
    position: relative;
    top: -9px;
    left: 2px;
    z-index: 1;
}

#back .body img {
    width: 350px;
    position: relative;
    top: -50px;
}

#back .name {
    width: 25%;
    height: 80px;
    position: relative;
    top: -370px;
    left: 460px;
}

#back .name h3 {
    font-size: 20px;
    font-family: arial black;
    text-transform: uppercase;
    color: #353839;
}

#back .name table {
    width: 50%;
    font-size: 16px;
    font-family: arial narrow;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

#back .name th {
    color: grey;
    letter-spacing: 3px;
}

#back .name td {
    color: black;
    text-transform: lowercase;
}

#back .group {
    width: 205px;
    height: 170px;
    position: relative;
    top: -330px;
    left: 460px;
    border: 3px solid gray;
    padding: 10px;
    overflow: hidden;
}

#back .group h4 {
    width: 120%;
    font-size: 20px;
    font-family: arial narrow;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: rgb(230, 230, 230);
    padding: 5px;
    margin: -10px 0 10px -15px;
    text-align: center;
}

#back .group ul {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
    margin: 0 0 0 5px;
    color: rgb(85, 85, 85);

}

#back .group li {
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
    list-style: square;
    margin-left: 20px;
}

#back .body .btn {
    width: 250px;
    height: 50px;
    background-color: transparent;
    position: relative;
    left: 458px;
    top: -320px;
    padding: 0px;
}

#back .body .btn i {
    font-size: 20px;
    margin-right: 10px;
}


#back .body .btn button {
    width: 100px;
    height: 40px;
    margin: 0px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Arial narrow;
    font-weight: 800;
    color: #252525;
    border: none;
    transition: 0.3s;

}

#back .body .btn button[id] {
    background: #5682fc;
}

#back .body .btn button[id]:hover {
    transform: scale(1);
    background: #3f6ce8;
    color: black;
}


#back .body .btn button[class] {
    background: tomato;
}

#back .body .btn button[class]:hover {
    transform: scale(1);
    background: rgb(254, 70, 37);
    color: black;
}


#back .body .p {
    width: 450px;
    height: 350px;
    float: right;
    position: relative;
    top: -680px;
    font-size: 16px;
    font-weight: 600;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2f2f2f;
    text-transform: capitalize;
    padding: 5px;
    word-spacing: 2px;
    line-height: 25px;
}

#back .body h1[id] {
    width: 90px;
    position: relative;
}



#back .bttn {
    width: auto;
    text-align: center;
    background-color: white;

}

#back .bttn button {
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffd43b;
    color: rgb(34, 32, 32);
    border: none;
    margin: 50px;
    position: relative;
    left: -30px;
    font-size: 20px;
    font-family: arial;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.3s;
}

#back .bttn button:hover {
    transform: scale(1.03);
    background-color: orangered;
    color: white;
}



/*** 6 FULL BODY / 7 LOWER BODY / 8 SHOULDER & BACK / 9 LEAN / 10 BULK / 11 HEAVY ***/


/*** 15 SHOULDER & BACK ***/


/*** 15 SHOULDER & BACK ***/