*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}
body{
    height: 100vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    color: #111;
}
.container{
    width: 100%;
    box-shadow: 0 2px 20px #0000004d;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}
.translator_property{
    border: 1px solid #c7c7c783;
}
.translator_property .nuv_item{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #c7c7c7;
    padding: 0 20px;
}
.translator_property .nuv_item li select{
    outline: none;
    border-style: none;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
    color: #606060;
    transition: all .3s ease-out;
}
.translator_property .nuv_item li select:hover{
    color: #111;
}
.write_box{
    width: auto;
    display: flex;
    min-height: 300px;
}
.write_box .property_from, .property_trans{
    width: 100%;
    position: relative;
}
.write_box textarea{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
    font-size: 18px;
}
.write_box .toTranslate{
    background-color: #e3e3e383;
    border-left: 1px solid #c7c7c7;
}
.write_box .icons{
    width: 100%;
    height: 50px;
    padding: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: right;
}
.translator_property i.fa{
    width: 35px;
    height: 35px;
    background-color: #c7c7c783;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-out;
}
.translator_property i.fa:hover{
    color: #f1f1f1;
    background-color: #606060;
}
.write_box .icons .fa-volume-high{
    position: absolute;
    left: 10px;
}